[Desktop Entry]
Encoding=UTF-8
Name=Enlace a Descargar imágenes 
Type=Link
URL=https://api4.iloveimg.com/v1/download/kxhqbtr6Akbwz19gm63qrw74c1q7xrtqtcy553cd3d1rd9vm46g5dnf2v8lhyxlt1p7vt4ct1tl5847r79d2lm3pf64mw0qcc0vrwwrmh1d5ffy3ymk4clbtl5yrpy4p5wp5jclvhdv1v6hq2pj24z9rr0z59gqzx63nvlg5lsflnA7kdAr1
Icon=image-jpeg
